<div class="wrapper">
    {{>navigation}}
    <div id="content">
        {{>navtop}}

        <div class="container-fluid">
            <div class="nes-container w-100 mt-4">
                <div class="d-flex w-100 mb-2 justify-content-between">
                    <h3>Dueños</h3>
                    <button class="nes-btn is-success">+ Nuevo</button>
                </div>

                <div class="nes-table-responsive">
                    <table class="nes-table is-bordered is-centered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Identificación</th>
                                <th>Residencia</th>
                                <th>Teléfono residencia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jairo Uriel Medranos Ramos</td>
                                <td>0512199802616</td>
                                <td>Col la Kennedy 2nda entrada, media cuadra despues de baleadas kennedy</td>
                                <td class="text-center">000000000</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="nes-btn is-warning" title="Editar"><i class="mdi mdi-pencil"></i></button>
                                        <button type="button" class="nes-btn is-error" title="Borrar"><i class="mdi mdi-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Jairo Uriel Medranos Ramos</td>
                                <td>0512199802616</td>
                                <td>Col la Kennedy 2nda entrada, media cuadra despues de baleadas kennedy</td>
                                <td class="text-center">000000000</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="nes-btn is-warning" title="Editar"><i class="mdi mdi-pencil"></i></button>
                                        <button type="button" class="nes-btn is-error" title="Borrar"><i class="mdi mdi-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Jairo Uriel Medranos Ramos</td>
                                <td>0512199802616</td>
                                <td>Col la Kennedy 2nda entrada, media cuadra despues de baleadas kennedy</td>
                                <td class="text-center">000000000</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="nes-btn is-warning" title="Editar"><i class="mdi mdi-pencil"></i></button>
                                        <button type="button" class="nes-btn is-error" title="Borrar"><i class="mdi mdi-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Jairo Uriel Medranos Ramos</td>
                                <td>0512199802616</td>
                                <td>Col la Kennedy 2nda entrada, media cuadra despues de baleadas kennedy</td>
                                <td class="text-center">000000000</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="nes-btn is-warning" title="Editar"><i class="mdi mdi-pencil"></i></button>
                                        <button type="button" class="nes-btn is-error" title="Borrar"><i class="mdi mdi-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Jairo Uriel Medranos Ramos</td>
                                <td>0512199802616</td>
                                <td>Col la Kennedy 2nda entrada, media cuadra despues de baleadas kennedy</td>
                                <td class="text-center">000000000</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="nes-btn is-warning" title="Editar"><i class="mdi mdi-pencil"></i></button>
                                        <button type="button" class="nes-btn is-error" title="Borrar"><i class="mdi mdi-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    }
</script>