@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P/PressStart2P-Regular.ttf');
}

/* Dark theme is not aplicable 
*{
    font-family: 'Press Start 2P';
    background-color:#212529;
    color: #fff;
}*/

*{
    font-family: 'Press Start 2P';
    font-size: 11px;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #108DE0;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #108DE0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #108DE0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #108DE0;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #108DE0;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #108DE0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
}

#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    background: #fff;
    transition: all 0.3s;
}

.navitem{
    color: #fff;
}

.navitem:hover{
    background-color: #209CEE !important;
    color: #fff !important;
}

a{
    text-decoration: none !important;
}

.hoverlement:hover{
    background-color: #209CEE;
    color: #fff;
}

.active{
    color: #fff !important;
    background: #209CEE !important;
}

button:enabled{
    cursor: url(/vendors/nes.css/assets/cursor-click.png), pointer !important;
}

button{
    padding: 0px 5px 0px 5px !important;
}

.mdi{
    font-size: 1.5em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}