@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P/PressStart2P-Regular.ttf');
}

/* Dark theme is not aplicable 
*{
    font-family: 'Press Start 2P';
    background-color:#212529;
    color: #fff;
}*/

*{
    font-family: 'Press Start 2P';
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
}

#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    background: #fff;
    transition: all 0.3s;
}


a{
    color: #fff !important;
    text-decoration: none !important;
}

.active{
    color: #fff !important;
    background: #6d7fcc !important;
}

.active:hover{
    color: #6d7fcc;
    background-color: #fff;
}

a:hover{
    color: #6d7fcc !important;
    text-decoration: none !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}