<nav id="sidebar">
        <div class="sidebar-header">
            <center>
                <h6>Biemvemnido</h6>
                <img src="/images/vemterimnaria.png" alt="logo" class="rounded" style="width: 160px;">
            </center>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#" class="navitem">Citas</a>
            </li>
            <li>
                <a href="#" class="navitem">Medicos</a>
            </li>
            <li>
                <a href="#" class="navitem">Pacientes</a>
            </li>
            <li>
                <a href="#" class="navitem">Dueños</a>
            </li>
            <li>
                <a href="#" class="navitem">Especies</a>
            </li>
            <li>
                <a href="#" class="navitem">Razas</a>
            </li>
        </ul>

        <div class="text-center" style="margin-top: 10vh;">
            Made with 
            <br>
            <i class="nes-icon heart"></i>
            <br>
            by <a href="https://urienix.moe" class="navitem" target="_blank">urienix</a> 
        </div>


    </nav>