<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/fonts/PressStart2P/PressStart2P-Regular.ttf">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/vendors/nes.css/css/nes-core.min.css">
    <title>Vemterimnaria Cheems</title>
</head>
<body class="m-0 p-0">
    {{{body}}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>